@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat";
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

html {
  scroll-behavior: smooth;
}
body {
  max-width: 100vw;
  overflow-x: hidden;
}
header {
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
  position: sticky;
  top: 0px;
  background: white;
  z-index: 10;
}

nav {
  min-height: 10vh;
  margin: auto;
  width: 90%;
  display: flex;
  align-items: center;
}

nav h1,
nav ul {
  font-size: 1.5rem;
}

nav ul {
  list-style: none;
  display: flex;
  margin-left: auto;
  justify-content: space-between;
}

nav a {
  color: black;
  text-decoration: none;
  padding: 1rem;
  margin: 0 1rem;
}

.box {
  position: absolute;
  z-index: -2;
  background: #acdf87;
  transition: all 0.5s ease;
}

.heroflex {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10%;
  padding-left: 20%;
}
.hero {
  margin-top: -10%;
  width: 100%;
}

hr.titleline {
  border-top: 3px solid #52b984;
  width: 130%;
}

.logo {
  height: 25%;
  width: 25%;
}
.hero h1 {
  color: #52b984;
  font-size: 48px;
  padding-bottom: 0.4%;
  padding-left: -10%;
}

.hero h2 {
  color: #52b984;
  font-size: 48px;
  padding-left: 30%;
}

.parallax {
  position: relative;
  width: 100%;
  height: 1042px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -10vh;
}
.layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  opacity: 45%;
}
section h2 {
  position: relative;
  color: #111;
  font-size: 36px;
}
.footer {
  position: relative;
  background-color: #52b984;
  z-index: 1;
}

.footer p {
  color: #ffffff;
  font-size: 18px;
}

.footerflex {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 7%;
  padding-top: 1%;
  padding-bottom: 1%;
}

.footersocials a {
  text-decoration: none;
}

.footersocials img {
  width: 30px;
  padding-right: 0px;
}

.fade-in {
  opacity: 0;
  transition: opacity 250ms ease-in;
}

.fade-in.appear {
  opacity: 1;
}

.more-stuff-grid {
  background: #f4f4f4;
  padding: 4em 0;
  display: grid;
  grid-gap: 2em;
  align-items: center;
  grid-template-columns: minmax(1em, 1fr) repeat(2, minmax(200px, 400px)) minmax(
      1em,
      1fr
    );
}

.from-left {
  grid-column: 2 / 3;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.from-right {
  grid-column: 3 / 4;
  -webkit-transform: translateX(50%);
  transform: translateX(50%);
}

.from-left,
.from-right {
  transition: opacity 250ms ease-in, -webkit-transform 400ms ease-in;
  transition: opacity 250ms ease-in, transform 400ms ease-in;
  transition: opacity 250ms ease-in, transform 400ms ease-in,
    -webkit-transform 400ms ease-in;
  opacity: 0;
}

.from-left.appear,
.from-right.appear {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  opacity: 1;
}

section p {
  font-size: 16px;
  line-height: 1.7em;
  letter-spacing: -0.013em;
  padding-top: 2%;
  padding-bottom: 10%;
}

.sectionflex {
  display: flex;
  align-items: center;
  padding-top: 19vh;
}

.sectiontext {
  padding-left: 8%;
  padding-right: 17%;
}

.sectionimg {
  padding-right: 8%;
}

.title4 {
  padding-bottom: 10%;
}

.supporttext {
  padding-left: 5%;
}

.supporttext a {
  text-decoration: none;
  color: #000000;
}

#typingtext {
  background-color: #ffffff;
  width: auto;
  font-size: 22px;
  color: #000000;
  height: 22px;
  padding-left: 5.5%;
}
